.root {
  align-items: start;
  align-self: stretch;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: start;
  cursor: pointer;
}

.root:hover {
  background: #202020;
}

.containerOpen {
  background: #202020;
  border: 1px solid #333335;
}

.arrowStyle {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.rotate {
  transform: rotate(180deg);
}

.header {
  align-self: stretch;
  border: none;
  z-index: 0;
  display: flex;
  width: 100%;
  padding: 16px;
  text-transform: uppercase;
}

.headerContent {
  display: flex;
  width: 100%;
  align-items: center;
  gap: 8px;
  justify-content: space-between;
  flex-wrap: wrap;
}

.title {
  color: #d0d0d1;
  font-weight: 700;
  font-size: 14px;
  line-height: 16.8px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;

  @media (max-width: 480px) {
    font-size: 12px;
    line-height: 14px;
  }
}

.headerIcon {
  aspect-ratio: 1;
  object-fit: contain;
  width: 16px;
}

.selectedCount {
  color: #727273;
  text-align: right;
  font-weight: 400;
  line-height: 1;
  flex: 1;
}

.borderNoOpen {
  border: 1px solid #333335;
}

.content {
  align-self: stretch;
  border-top: none;
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  transition: all 0.3s ease-out;
  padding: 0;
  visibility: hidden;
}

.contentOpen {
  max-height: 1000px;
  opacity: 1;
  padding: 16px;
  visibility: visible;
  transition: all 0.3s ease-in;
}

.bordeColor {
  border-color: #efeff0;
}

.headerContentMobile {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
}
