.root {
  position: relative;
  width: fit-content;
}

.dropdown {
  align-self: stretch;
  border: 1px solid #333335;
  background: #141416;
  max-width: 296px;
  padding: 16px 24px;
  margin-top: 8px;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 10;
  min-width: 100%;

  .assetItem:hover {
    background: #202020;
  }
}

.container {
  display: flex;
  width: 100%;
  flex-direction: column;
}

.searchContainer {
  width: 100%;
}

.searchBar {
  align-items: center;
  border-bottom: 1px solid #333335;
  display: flex;
  gap: 8px;
  font-size: 16px;
  color: #727273;
  padding: 8px 0;
}

.searchIcon {
  width: 20px;
  height: 20px;
  object-fit: contain;
}

.assetList {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-height: 200px;
  overflow-y: auto;

  &::-webkit-scrollbar {
    width: 4px;
  }

  &::-webkit-scrollbar-track {
    background: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background: #333335;
    border-radius: 2px;
  }
}

.assetItem {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
  padding: 8px 16px 8px 8px;
  margin-top: 8px;
  white-space: nowrap;
  cursor: pointer;
}

.selected {
  background: #202020;
}

.itemContent {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 16px;
  color: #efeff0;
}

.assetIcon {
  width: 20px;
  height: 20px;
  object-fit: contain;
}

.assetCount {
  font-size: 14px;
  color: #727273;
  line-height: 1;
}

.indicator {
  width: 14px;
  height: 16px;
  object-fit: contain;
  position: absolute;
  right: 117px;
  bottom: -4px;
}

.filterButton {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #efeff0;
  width: 100%;
  gap: 4px;
  margin-top: 16px;
  padding: 8px;
  font-size: 14px;
  color: #202020;
  line-height: 1;
  border: none;
  cursor: pointer;
}

.filterIcon {
  width: 16px;
  height: 16px;
  object-fit: contain;
}

.filterText {
  margin: auto;
}

.searchInput {
  border: none;
  outline: none;
  flex-grow: 1;
  background: transparent;
}

.containerCheckbox {
  display: flex;
  align-items: center;
  gap: 8px;
}

.CheckboxIcon {
  display: flex;
  flex: 1;
  align-self: stretch;
  background-color: #efeff0;
  align-items: center;
  width: 20px;
  height: 20px;
  border-radius: 5px;
}

.dropdownBtn {
  justify-content: center;
  align-items: center;
  border: 1px solid #333335;
  background: #141416;
  align-self: stretch;
  width: fit-content;
  display: flex;
  align-items: center;
  height: 40px;
  gap: 4px;
  overflow: hidden;
  margin: auto 0;
  padding: 10px 12px;
  cursor: pointer;
}

.arrowStyle {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.rotate {
  transform: rotate(180deg);
}

.dropdownBtn:hover {
  filter: brightness(1) invert(1);
  color: black;
}

.textDropdown {
  color: #d0d0d1;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}

.checkbox {
  cursor: pointer;
  display: flex;
  flex: 1;
  align-self: stretch;
  align-items: center;
  width: 20px;
  height: 20px;
  border-radius: 5px;
  border: 1px solid #efeff0;
  background-color: transparent;

  &[data-state='checked'] {
    background-color: #efeff0;
    border: none;
  }
}

.assetLabel {
  color: #fff;
}
