.tooltipContainer {
  position: relative;
  display: inline-block;
}

.tooltip {
  position: fixed;
  z-index: 1000;
  background-color: #efeff0;
  color: #000;
  padding: 8px;
  font-size: 14px;
  max-width: 300px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  pointer-events: none;
  white-space: normal;
  word-wrap: break-word;
}

.top {
  transform: translateY(-8px);
}

.bottom {
  transform: translateY(8px);
}

.left {
  transform: translateX(-8px);
}

.right {
  transform: translateX(8px);
}
