.root {
  position: relative;
  display: inline-block;
}

.dropdown {
  align-self: stretch;
  border: 1px solid #333335;
  background: #141416;
  display: flex;
  width: 192px;
  padding: 16px 8px;
  flex-direction: column;
  overflow: hidden;
  color: #efeff0;
  position: absolute;
  margin-top: 8px;
  z-index: 2;
  right: 50%;
  transform: translateX(50%);
  box-shadow: 0px 0px 24px 0px #121212;

  .selectedItem,
  .orderItem {
    &:hover {
      background-color: #ffffff0d;
      border-color: #ffffff33;
    }
  }
}

.block {
  width: 16px;
  height: 16px;
}

.btnDropdown {
  cursor: pointer;
  transition: filter 0.2s ease;
}

.btnDropdown:hover {
  filter: brightness(1) invert(1);
}

.heading {
  font-weight: 700;
  line-height: 1;
  width: 100%;
  padding: 8px 16px 8px 8px;
  gap: 8px;
}

.orderItem {
  display: flex;
  width: 100%;
  padding: 8px 16px 8px 8px;
  align-items: center;
  gap: 36px;
  justify-content: space-between;
  margin-top: 8px;
}

.orderItemContent {
  display: flex;
  align-items: center;
  gap: 8px;
}

.icon {
  font-size: 16px;
  color: #efeff0;
}

.selectedItem {
  justify-content: space-between;
  align-items: center;
  position: relative;
  display: flex;
  margin-top: 8px;
  width: 100%;
  padding: 8px 16px 8px 8px;
}

.cursorIcon {
  position: absolute;
  right: 16px;
  font-size: 16px;
  color: #efeff0;
}

.actionButton {
  background: none;
  border: 1px solid #323236;
  padding: 8px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.2s ease;

  &:hover {
    background-color: rgba(255, 255, 255, 0.05);
    border-color: rgba(255, 255, 255, 0.2);
  }

  &.active {
    background-color: #efeff0;
    border-color: #efeff0;

    svg path {
      stroke: #141416;
    }
  }
}
