.root {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  min-height: 40px;
  padding: 8px 16px;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  text-transform: uppercase;
  width: fit-content;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  background: #202020;
  color: #fff;

  &:hover:not(.disabled) {
    background: #e4e4e5;
    color: #000;
  }

  &:active:not(.disabled) {
    background: #d1d1d3;
  }

  &.primary {
    background: #efeff0;
    color: #000;
    border: none;

    &:hover:not(.disabled) {
      background: #c5c5c5;
    }

    &:active:not(.disabled) {
      background: #efeff0;
    }
  }

  &.disabled {
    opacity: 0.5;
    cursor: not-allowed;
    pointer-events: none;
  }

  &.fullWidth {
    width: 100%;
  }
}

.childrenWrapper {
  display: flex;
  align-items: center;
  gap: 8px;

  &:not(:has(*)) {
    pointer-events: none;
  }

  > * {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    &:hover {
      opacity: 0.8;
    }
  }
}
